.rightbar {
    flex: 3;
    height: calc(100vh - 50px);
    position: sticky;
    top: 0;
    /* overflow-y: scroll; */
}

.rightbarWrapper {
    width: 95%;
    margin-top: 20px;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.rightbarFriendList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rightbarInfo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.rightbarInfoItem {
    margin-bottom: 10px;
}

.rightbarInfoKey {
    font-weight: bold;
    color: rgb(65, 51, 51);
    margin-right: 15px;
}

.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarInfoValue {
    font-weight: lighter;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.rightbarFollowingImg {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
}

.rightbarFollowingName {
    font-size: 14px;
    margin-top: 5px;
}