.rightbar {
    flex: 3;
    height: calc(100vh - 50px);
    position: sticky;
    top: 0;
    overflow-y: scroll;
}

.rightbarWrapper {
    width: 95%;
    margin-top: 20px;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.rightbarAds {
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
}

.rightbarFriendList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rightbarFriend {
    margin-top: 10px; 
    display: flex;
    align-items: center;
}
.rightbarImgContainer {
    position: relative;
    margin-right: 10px;
}

.rightbarFriendImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0px;
    border: 1px solid;
}
.rightbarOnline {
    background-color: rgb(32, 230, 32);
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    top:0px;
    right: 0px;
    border: 2px solid white;
}

.rightbarFriendName {
    font-weight: bold;
    font-size: 15px;
}